@import url(fonts.css);

:root {
    --mdc-theme-primary: #ff0000;
    --mdc-theme-secondary: #fffd00;
    --mdc-theme-background: #fff;
    --mdc-theme-surface: #fff;
    --mdc-theme-error: #b00020;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #000;
    --mdc-theme-on-error: #fff;
    --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-dark: white;
    --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);

    --mdc-typography-subtitle1-letter-spacing: 0;
}

/* Formato a etiquetas */
h1, h2, h3, h4, h5, h6, a, button, th {
    font-family: 'Geogrotesque', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    color: #bd9242;
}

h1 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
    color: #fff;
}

blockquote {
    border-color: #f7be68;
}

p, li, span, label, div, td, span {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

html, body {
    display: flex;
    min-height: 100%;
    width: 100%;
    background-color: #000;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px black inset !important;
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    -webkit-text-fill-color: white;
}

main {
    background-color: #F2F2F2;
    min-height: calc(100vh - 30px);
}

/* Formato a elementos de formularios */
.mdc-text-field {
    width: 100%;
    padding: 0px;
}

.mdc-text-field .mdc-text-field__input {
    padding: 0 16px;
    font-family: 'Poppins', sans-serif;
}

.mdc-floating-label, .mdc-text-field-helper-text {
    font-family: 'Poppins', sans-serif;
    will-change: initial;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
    color: var(--mdc-theme-primary, #6200ee);
}

.mdc-text-field--with-leading-icon > input, .mdc-text-field--with-trailing-icon > input {
    padding: 0px!important;
}

.mdc-text-field.mdc-text-field--dense, .mdc-select--dense .mdc-select__anchor {
    height: 45px;
}

.mdc-text-field.mdc-text-field--superdense, .mdc-select--superdense .mdc-select__anchor {
    height: 30px;
}

.mdc-text-field--filled.mdc-text-field--dense::before {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    vertical-align: 0;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
}

.mdc-text-field--dense.mdc-text-field--with-trailing-icon.mdc-text-field--outlined.mdc-notched-outline--upgraded .mdc-floating-label--float-above, .mdc-text-field--dense.mdc-text-field--with-trailing-icon.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    -webkit-transform: translateY(-29.75px) scale(0.75);
    transform: translateY(-29.75px) scale(0.75);
}

.mdc-text-field--dense.mdc-notched-outline--upgraded .mdc-floating-label--float-above, .mdc-text-field--dense .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    -webkit-transform: translateY(-29.75px) scale(0.75);
    transform: translateY(-29.75px) scale(0.75);
}

.mdc-text-field--textarea.mdc-text-field--textarea-dense .mdc-text-field__input {
    margin-top: 12px;
    margin-bottom: 12px;
}

.mdc-touch-target-wrapper {
    display: flex;
}

.mdc-touch-target-wrapper > label {
    cursor: pointer;
    height: 48px;
    line-height: 48px;
}

.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    border-color: var(--mdc-theme-primary, #018786);
    background-color: var(--mdc-theme-primary, #018786);
}

.mdc-select {
    min-width: 0;
    width: 100%;
}

.mdc-select--outlined.mdc-select--dense .mdc-select__anchor.mdc-notched-outline--upgraded .mdc-floating-label--float-above, .mdc-select--outlined.mdc-select--dense .mdc-select__anchor .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    -webkit-transform: translateY(-29.75px) scale(0.75);
    transform: translateY(-29.75px) scale(0.75);
}

.mdc-select__selected-text {
    font-family: 'Poppins', sans-serif;
}

.mdc-select__input-value {
    visibility: hidden;
    width: 0px;
    border: none;
    padding: 0;
}

.mdc-select--outlined .mdc-select__anchor .mdc-select__selected-text::before {
    content: ""!important;
}

.mdc-select.mdc-select--filled .mdc-floating-label--float-above {
    max-width: initial;
}

/* Formato a elementos de Material.io */
.mdc-button {
    text-transform: none;
}

.mdc-button.mdc-button--dense {
    height: 30px;
}

.mdc-button > i.material-icons {
    font-size: 16px;
}

.mdc-button.mdc-button--middle {
    padding: 10px 25px;
}

.mdc-button.mdc-button--middle .mdc-button__label {
    font-size: 14px;
}

.mdc-button.mdc-button--large {
    padding: 20px 30px;
}

.mdc-button.mdc-button--large .mdc-button__label {
    font-size: 14px;
}

.mdc-button.mdc-button--large > i.material-icons {
    font-size: 18px;
}

.mdc-button.mdc-button--x-large {
    height: 45px;
}

.mdc-button.mdc-button--x-large .mdc-button__label {
    font-size: 14px;
}

.mdc-button.mdc-button--x-large > i.material-icons {
    font-size: 18px;
}

.mdc-data-table__row > *, .mdc-data-table__header-row > * {
    font-size: 14px;
}

.mdc-data-table__header-cell {
    font-family: 'Geogrotesque', sans-serif;
}

.mdc-data-table__cell {
    font-family: 'Poppins', sans-serif;
}

.mdc-data-table__cell.center {
    text-align: center;
}

.mdc-data-table__pagination-total, .mdc-data-table__pagination-rows-per-page-label, .mdc-data-table__cell {
    color: #717171;
}

.mdc-data-table__row--dense:hover {
    cursor: pointer;
}

.mdc-data-table__row--dense > .mdc-data-table__cell {
    height: 35px;
    padding: 5px 16px;
}

.mdc-list {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mdc-menu.mdc-menu--dense .mdc-list-item {
    height: 35px;
}

.mdc-menu.mdc-menu--dense .mdc-list-item:hover:not(.mdc-list-item--disabled) {
    background-color: red;
    color: white;
}

.mdc-menu-surface--open {
    z-index: 1000;
}

.mdc-list-item.mdc-list-item--active {
    background-color: var(--mdc-theme-primary, #6200ee);
    color: white;
}

.mdc-list-item.mdc-list-item--active img.icono {
    filter: invert(1);
}

.mdc-list-item__text {
    font-size: 15px;
}

.mdc-list-item__graphic img.icono {
    height: 15px;
}

.mdc-snackbar__label {
    font-family: 'Poppins', sans-serif;
}

.mdc-snackbar__action:not(:disabled) {
    color: #ffd2d2;
}

.mdc-drawer__header {
    margin-top: 10px;
}

.mdc-drawer__header label {
    color: #828282;
    display: block;
    font-family: 'Geogrotesque', sans-serif;
    font-size: 12px;
    text-align: center;
    width: 100%;
}


@media only screen and (min-width: 1201px) {
    .mdc-drawer--open+.mdc-drawer-scrim, .mdc-drawer-scrim {
        position: sticky;
        width: 255px;
        display: inline-table;
        z-index: 0;
    }

    .mdc-drawer--modal {
        box-shadow: none;
    }
}

/* Formato a elementos de Materalize */
select {
    display: inline-block;
    width: auto;
    padding: 0;
    height: initial;
}

tr.dense td {
    padding: 10px 5px;
}

tr.super-dense td {
    padding: 5px;
}

td, th {
    border-radius: 0;
    vertical-align: middle;
}

.datatable tr {
    border-bottom: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: 0;
    outline-color: inherit;
}

.btn, .btn.btn-floating {
    background-color: var(--mdc-theme-primary, red);
    color: white;
}

.card {
    position: inherit;
}

.card .card-content .card-title {
    font-family: 'Geogrotesque', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}

.card .card-content .card-subtitle {
    font-family: 'Geogrotesque', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    display: block;
}

@media (max-width: 600px) {
    .card .card-content {
        padding: 18px;
    }
}

/* Formato a elementos propios */
main {
    padding: 30px 20px;
}

td .mdc-text-field {
    height: 30px;
    width: 60px;
}

td .mdc-text-field .mdc-text-field__input {
    text-align: center;
    padding-right: 2px;
}

#mdc-menu__productos {
    top: 45px;
}

#mdc-menu__productos .mdc-list-item .mdc-list-item__text {
    text-transform: capitalize;
}

#mdc-menu__buscar_producto .mdc-list-item .mdc-list-item__text {
    text-transform: capitalize;
}

#html-spinner{
    width:40px;
    height:40px;
    border:4px solid #bcbcbc;
    border-top:4px solid black;
    border-radius:50%;
    transition-duration: 1.2s;

    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1.2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: transform;
    animation-name: rotate; 
    animation-duration: 1.2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
  
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.breadcrumbs .breadcrumb {
    color: var(--mdc-theme-primary, #6200ee);;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: underline;
}

.breadcrumbs .breadcrumb:last-child {
    color: #717171;
    cursor: default;
    text-decoration: none;
}

.breadcrumbs .breadcrumb:before {
    color: var(--mdc-theme-primary, #6200ee);;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}

.card-logo {
    max-width: 100%;
    width: 60%;
}

.full-col .card.highlighted .card-content {
    padding: 0 24px;
}

.card.highlighted label:not(.mdc-text-field) {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #828282;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card.highlighted .card-title.highlighted {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 25px;
}

.card.highlighted .card-subtitle.highlighted {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.card.bg-primary .card-title.highlighted, .card.bg-primary .card-subtitle.highlighted, .card.bg-primary label:not(.mdc-text-field) {
    color: white;
}

.card.card--outlined {
    border: solid 1px #9b9b9b;
    box-shadow: none;
}

.modal.modal-md {
    width: 70%;
}

.title {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}

@media only screen and (max-width: 992px) {
    .modal, .modal.modal-md {
        width: 95%;
    }

    .modal .modal-content {
        padding: 20px 0;
    }
}

/* Helpers */

.alerta-superpuesta {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.alerta-superpuesta.blanca {
    background-color: rgb(255 255 255 / 0.7);
    color: #545454;
}

.alerta-superpuesta.negra {
    background-color: rgb(0 0 0 / 0.7);
    color: #fff;
}

.bg-primary {
    background-color: var(--mdc-theme-primary, #6200ee);
}

.border-right {
    border-right: solid 1px #9e9e9e;
}

.border-left {
    border-left: solid 1px #9e9e9e;
}

.row .col.border-left {
    margin-left: -1px;
}

.btn-icon, .btn-icon:focus, .btn-icon:hover {
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 0;
    padding: 0;
}

.capitalize {
    text-transform: capitalize!important;
}

.cargando {
    align-items: center;
    background-color: rgb(255 255 255 / 0.7);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.container-full {
    width: 100%;
}

.dashed {
    border-style: dashed!important;
}

.dotted {
    border-style: dotted!important;
}

.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.full-col {
    position: absolute;
    height: 100%;
    display: inline-grid;
}

.full-height {
    height: 100%!important;
}

.full-row {
    position: relative;
}

.full-width {
    width: 100%!important;
}

.justify {
    text-align: justify!important;
}

.justify-content-center {
    justify-content: center;
}

a.link {
    font-family: 'Poppins'!important;
}

.mb-0 {
    margin-bottom: 0px!important;
}

.mb-1 {
    margin-bottom: 10px!important;
}

.mb-2 {
    margin-bottom: 15px!important;
}

.mb-3 {
    margin-bottom: 20px!important;
}

.mb-4 {
    margin-bottom: 25px!important;
}

.mb-5 {
    margin-bottom: 30px!important;
}

.mr-0 {
    margin-right: 0px!important;
}

.mr-1 {
    margin-right: 10px!important;
}

.mr-2 {
    margin-right: 15px!important;
}

.mr-3 {
    margin-right: 20px!important;
}

.mr-4 {
    margin-right: 25px!important;
}

.mr-5 {
    margin-right: 30px!important;
}

.mt-0 {
    margin-top: 0px!important;
}

.mt-1 {
    margin-top: 10px!important;
}

.mt-2 {
    margin-top: 15px!important;
}

.mt-3 {
    margin-top: 20px!important;
}

.mt-4 {
    margin-top: 25px!important;
}

.mt-5 {
    margin-top: 30px!important;
}

.my-0 {
    margin-top: 0rem!important;
    margin-bottom: 0rem!important;
}

.my-1 {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.my-2 {
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}

.my-3 {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}

.my-4 {
    margin-top: 25px!important;
    margin-bottom: 25px!important;
}

.my-5 {
    margin-top: 30px!important;
    margin-bottom: 30px!important;
}

.no-line-height {
    line-height: 0!important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.px-0 {
    padding-right: 0rem!important;
    padding-left: 0rem!important;
}

.px-1 {
    padding-right: 10px!important;
    padding-left: 10px!important;
}

.px-2 {
    padding-right: 15px!important;
    padding-left: 15px!important;
}

.px-3 {
    padding-right: 20px!important;
    padding-left: 20px!important;
}

.px-4 {
    padding-right: 25px!important;
    padding-left: 25px!important;
}

.px-5 {
    padding-right: 30px!important;
    padding-left: 30px!important;
}

.py-0 {
    padding-top: 0rem!important;
    padding-bottom: 0rem!important;
}

.py-1 {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

.py-2 {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.py-3 {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.py-4 {
    padding-top: 25px!important;
    padding-bottom: 25px!important;
}

.py-5 {
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}

.relative {
    position: relative!important;
}

.subtitle {
    font-family: 'Geogrotesque', sans-serif;
    font-size: 24px;
    line-height: 24px;
}

.subtitle-1 {
    font-size: 20px!important;
    line-height: 20px!important;
}

.subtitle-2 {
    font-size: 18px!important;
    line-height: 18px!important;
}

.subtitle-3 {
    font-size: 16px!important;
    line-height: 16px!important;
}

.subtitle-4 {
    color: #828282;
    font-size: 14px!important;
    line-height: 14px!important;
}

i.sending {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@media only screen and (max-width: 600px) {
    .mt-0-s {
        margin-top: 0px!important;
    }
    
    .mt-1-s {
        margin-top: 10px!important;
    }
    
    .mt-2-s {
        margin-top: 15px!important;
    }
    
    .mt-3-s {
        margin-top: 20px!important;
    }
    
    .mt-4-s {
        margin-top: 25px!important;
    }
    
    .mt-5-s {
        margin-top: 30px!important;
    }

    .noborder-s {
        border: none!important;
    }

    .row .col.border-left {
        margin-left: auto;
    }
}

/* Animaciones */

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Plugins */

/* Datatables */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #ffd2d2;
    border: none;
    color: #333!important;
    cursor: initial;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: red;
    border: none;
    color: white!important;
}

table.dataTable tbody tr.clickable:hover, table tbody tr.clickable:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

table.dataTable tbody tr.red-on-hover:hover, table tbody tr.red-on-hover:hover {
    background-color: red;
    color: white;
}

table.dataTable > tbody > tr.child ul.dtr-details {
    width: 100%;
}

table.dataTable > tbody > tr.child ul.dtr-details > li.center, table.dataTable > tbody > tr.child ul.dtr-details > li.right-align {
    text-align: inherit!important;
}

table.dataTable > tbody .eliminar-producto-mv {
    display: none;
}

table.dataTable > tbody > tr.child ul.dtr-details > li .eliminar-producto-pc {
    display: none;
}

table.dataTable > tbody > tr.child ul.dtr-details > li .eliminar-producto-mv {
    display: inline-flex;
}

/* Elementos específicos */

#lista_ciudades {
    max-height: 192px!important;
}

#botonMenu {
    top: 28px;
    position: fixed;
    right: 30px;
}

.avicampo-avatar img {
    margin: auto;
    max-height: 150px;
    max-width: 100%;
}

@media only screen and (min-width: 1201px) {
    #botonMenu {
        display: none;
    }
}

@media (max-width: 1200px) {
    #botonMenu {
        top: initial;
        bottom: 30px;
    }
}

@media (max-width: 600px) {
    .contenedor {
        margin-left: 0px;
    }

    main {
        padding: 30px 0px;
    }

    #botonMenu {
        right: 10px;
        top: 28px;
        bottom: initial;
    }
}







/******* Estilos LOVE ******/

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: rgba(255,255,255);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: rgba(255,255,255);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(255,255,255);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
    border-color: #f7be68;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
    color: #f7be68;
}

.mdc-text-field .mdc-text-field__input, .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgba(255,255,255);
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: #ff7891;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #ff7891;
}

.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
    border-color: rgba(255,255,255);
}

.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__anchor:hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__anchor:hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__anchor:hover .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: rgba(255,255,255);
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__dropdown-icon {
    fill: rgb(255 255 255 / 0.8);
}

.mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
    color: rgba(255,255,255);
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
    color: rgba(255,255,255);
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-select__dropdown-icon {
    fill: #f7be68;
}

.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: #f7be68;
}

.mdc-select--invalid.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading, .mdc-select--invalid.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch, .mdc-select--invalid.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
    border-color: #ff7891;
}

.mdc-select--invalid:not(.mdc-select--disabled) .mdc-floating-label {
    color: #ff7891;
}

.mdc-button--outlined:not(:disabled) {
    border-color: #f7be68;
    background-color: rgb(247 190 104 / 0.1);
}

.mdc-button:not(:disabled) {
    color: #f7be68;
}

.fancy-number {
    font-family: 'Geogrotesque', sans-serif;
    font-weight: 900;
    font-size: 20px;
    height: 31px;
    line-height: 31px;
    display: inline-block;
    width: 31px;
    text-align: center;
    background-color: #f7be68;
    border-radius: 50%;
    vertical-align: text-bottom;
    margin-right: 5px;
    color: black;
}

.card.highlighted h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 900;
    color: black;
}

.card.highlighted .card-title {
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.card.highlighted.meet--option:hover, .card.highlighted.option--selected {
    cursor: pointer;
    background-color: #f7be68;
}

.no-margin {
    margin: 0!important;
}

#card-lista-vacia .card-content {
    background-color: rgb(0 0 0 / 85%);
    border: dashed 1px white;
}

#card-lista-vacia h3 {
    color: wheat;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.modal-content {
    background-color: black;
}

.modal-overlay {
    background-color: #fff;
}

.modal .title {
    color: #f7be68;
    font-weight: 700;
}

.modal .modal-footer {
    padding: 10px 24px;
    height: auto;
    background-color: #101010;
}

@media only screen and (max-width: 992px) {
    .modal .modal-footer {
        padding: 10px 0px;
    }

    .container {
        width: 100%;
    }
}

.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
    color: black;
    background-color: #f7be68;
    border: solid 1px #f7be68;
}

.mdc-button .mdc-button__label {
    letter-spacing: 0;
}

.mdc-button.mdc-button--large .mdc-button__label {
    font-weight: 600;
}

.toast {
    background-color: #b00020;
}

#symptoms-name {
    color: #f7be68;
}

.assistant-card {
    background-color: #101010;
}

.assistant-card.card.highlighted label:not(.mdc-text-field) {
    color: #ffd79b;
}

.assistant-card.card.highlighted .card-subtitle.highlighted {
    color: white;
    font-weight: 600;
    font-family: 'Geogrotesque';
    text-transform: uppercase;
}

.assistant-card.card.highlighted .card-subtitle.highlighted.important {
    color: #f7be68;
}

.main-logo {
    width: 100px;
    height: auto;
}

@media only screen and (min-width: 601px) {
    .row .col.m-col-5 {
        width: 20%;
    }
}